#admin_body {
    height: 100vh;
    width: 100vw;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(218, 218, 255, 1) 0%, rgba(144, 208, 221, 1) 100%);
}
#admin_title {
    text-align: center;
    font-family: arial, sans-serif;
}
#users {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}
#users tr {
    background-color: #dadada;
}
#users tr:nth-child(even) {
    background-color: #f2f2f2;
}
#users tr:hover {
    background-color: rgb(251, 230, 230);
}
#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#editOrRemove {
    position: absolute;
    left: 38%;
    top: 25%;
    height: 20%;
    width: 20%;
    display: grid;
}
#editOrRemove button {
    cursor: pointer;
}
.admin_save {
    background: rgba(253, 29, 29, 1);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    margin-left: 25%;
    width: 50%;
}